.Dropdown {
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    min-width: 200px;
    position: relative;
}

.Dropdown>.header {
    padding: 10px;
}

.Dropdown>.header:hover {
    background-color: #ddd;
    cursor: pointer;
}

.Dropdown>.header:active {
    background-color: #eee;
}

.Dropdown>.list {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.Dropdown>.list>* {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.Dropdown>.list>*:hover {
    cursor: pointer;
    background-color: #f1f1f1;
}

.Dropdown>.list>*:active {
    background-color: #fff;
}

.Dropdown>.list>*.selected {
    background-color: aqua;
}