.Btn {
    background-color: aquamarine;
    border: 1px solid #e1e1e1;
    padding: 10px 20px;
}

.Btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

.Btn:active {
    opacity: 0.9;
}

.Btn.error {
    background-color: red;
    color: #fff;
}

.Btn.ok {
    background-color: green;
    color: #fff;
}

.Btn.cancel {
    background-color: gray;
}