html,
body,
#root {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.active {
    color: aqua;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}