.Line {
    display: flex;
    gap: 10px;
    align-items: center;
    height: 100%;
}

.Line.between {
    justify-content: space-between;
}

.Line.rows {
    align-items: flex-start;
    flex-direction: column;
}

.Line.rows>.Line {
    height: auto;
}

.square {
    background-color: red;
    width: 50px;
    height: 50px;
}